.App
{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(to right, #7F7FD5, #91EAE4); */
  background-image: linear-gradient(#D9AFD9,#97D9E1);
}