.weather_parent
{
    width: 28rem;
    height: 40rem;
    position: relative;
    z-index: 1;
    /* background: rgba(255, 255, 255, 0.3); */
    border-radius: 10px;
    backdrop-filter: blur(1px);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    box-sizing: border-box;
}

.weather_parent::before
{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    opacity: 1;
    z-index: -1;
}

.edge_cases
{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.header_left
{
    display: flex;;
    justify-content: flex-start;
    align-items: center;
}

.location_icon
{
    fill: white;
    width: 42px;
}


.header_left h1
{
    margin: 0;
    margin-left: 5px;
    font-size: 25px;
    font-weight: 500;
    /* font-family: 'Poppins', sans-serif; */
    color: white;
}

.edit_icon
{
    fill: white;
    width: 22px;
    height: 22px;
    margin-left: 10px;
    cursor: pointer;
}


.header_right
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.header_right h1
{
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.current_location_icon
{
    fill: white;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.toggle-switch 
{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
  
}
  
.toggle-switch input 
{
    display: none;
}

.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #97D9E1;
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before 
{
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider:before 
{
    transform: translateX(15px);
}


/* -----------------temp and icon----------------- */

.temp_and_icon_container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 70px; */
    box-sizing: border-box;
    padding: 0px 10px;
}

.temp_and_icon_container_left
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.temp_and_icon_container_left_left
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main_temp
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_temp h1
{
    margin: 0;
    font-size: 65px;
    font-weight: 400;
    letter-spacing: 2px;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Barlow Semi Condensed', sans-serif; */
    color: white;
}

.main_temp h2
{
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.temp_min_max
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temp_min_max div
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.temp_min_max div h2
{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: white;
    letter-spacing: 0.5px;

    /* font-family: 'Poppins', sans-serif; */
}

.arrowUp_icon, .arrowDown_icon
{
    fill: white;
    width: 14px;
    height: 14px;
}

.celcius
{
    margin-left: -15px;
}

.celcius h1
{
    margin: 0;
    font-size: 80px;
    font-weight: 400;
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.temp_and_icon_container_left_right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.temp_and_icon_container_left_right h2
{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: white;
    letter-spacing: 0.5px;
    /* font-family: 'Poppins', sans-serif; */
}



/* ------------sunset sunrise---------- */

.sunrise_sunset_container
{
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px;
}

.sunrise_sunset_container h4
{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.sunrise_sunset_content
{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress_bar
{
    position: relative;
    width: 60%;
    height: 5px;
    background: white;
}

.progress
{
    height: 100%;
    background-color: #91EAE4;
    transition: width 3s linear;
    max-width: 100%;
}

.sunrise_sunset_content p
{
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: white;
}


/* --------------details------------- */

.details
{
    width: 100%;
    padding: 0px 10px;
    height: 200px;
    box-sizing: border-box;
    margin-top: 50px;
}

.details h4
{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.infos
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3);
    box-sizing: border-box;
}

.infos>div
{
    box-sizing: border-box;
    color: white;
}

.infos>div p
{
    margin: 0;
    font-weight: 300;
    font-size: 14px;
}

.infos>div h3
{
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
}