.weather_parent
{
    width: 30rem;
    height: 40rem;
    /* background: rgba(255, 255, 255, 0.3); */
    border-radius: 10px;
    backdrop-filter: blur(1px);
    overflow: hidden;
}

.weather_parent::before
{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 1;
    z-index: -1;
}



.toggle-switch 
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  
}
  
.toggle-switch input 
{
    display: none;
}

.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before 
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider 
{
    background-color: #66bb6a; /* On color */
}

input:checked + .slider:before 
{
    transform: translateX(30px);
}



.weather_child img
{
    width: 100px;
    height: 100px;
    object-fit: cover;
}